@model IEnumerable<_SERVICE_MARKET_.Models.Servicio>

@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/Layout_CP.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/informacionPublicaciones.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <section>
        <h1 class="titulo">Servicios Disponibles</h1>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4">
                        <div class="card-servicios card text-light bg-dark drop" style="width: 22rem;">
                            <div class="card-body info">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NOMBRE_SER)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.DESCRIPCION_BREVE)</p>
                                <h4 class="card-title">$ @Html.DisplayFor(modelItem => item.PRECIO_SER)</h4>
                                <h6 class="card-title">@Html.DisplayFor(modelItem => item.NOMBRE_CAT)</h6>
                            </div>
                            <div class="botonInfo">
                                <button onclick="masInformacion()" type="button" class="btn btn-primary">Más información</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
</html>

