
@{
    ViewBag.Title = "Servicios Disponibles";
    Layout = "~/Views/Shared/Layout_CP.cshtml";
    var ListaServicios = ViewBag.ListaServicios;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/ServiciosConsultar.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <section id="carouselIndex">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="~/Imagenes/limpiezaCarousel.jpg" class="img d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Servicios de trabajos domésticos</h5>
                        <p>Aseo especializado en conjuntos residenciales, áreas comunes, empresas, oficinas, locales comerciales, edificios empresariales, establecimientos de interés sanitario (gimnasios, ips, consultorios, veterinarias, entre otros) y hogares.</p>
                        <button type="button" class="btn btn-primary">Ver categoría</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/Imagenes/remodelacionCarousel.jpg" class="img d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Servicios de remodelación y albañilería</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                        <button type="button" class="btn btn-primary">Ver categoría</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/Imagenes/mantenimientopcCarousel.jpg" class="img d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Servicios de mantenimiento</h5>
                        <p>Mantenimiento para tus equipos tecnológicos como lo son limpieza, reparación ,general, preventivo, etc.</p>
                        <button type="button" class="btn btn-primary">Ver categoría</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/bellezaCarousel.jpg" class="img d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Servicios de salud y belleza</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                        <button type="button" class="btn btn-primary">Ver categoría</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section>
        <h1 class="titulo">Servicios Disponibles</h1>
        @foreach (var s in ListaServicios)
        {
            <div class="card" style="width: 18rem;">
                <img src="@s.IMAGEN_SER" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@s.NOMBRE_SER</h5>
                    <p class="card-text">@s.TERMINOS_SER</p>
                    <h6 class="card-title">$ @s.PRECIO_SER</h6>
                    <h6 class="card-title">@s.ID_CATEGORIA_FK</h6>
                    <button type="button" class="btn btn-primary">Más información</button>
                </div>
            </div>
        }

    </section>


    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


